#main-div{
    height: 100%;
    width: 100%;
    /* overflow: scroll; */
    padding: 0px;
}
body{
    height: 100vh;
    background-color: rgb(197, 197, 197);
    overflow: scroll;
}

/* #for-nav-bar{
    height: 10%;
} */

#for-content{
    margin-top: 1px;
    /* height: 100%; */
    width: 100%;
    background-color: rgba(248, 248, 248, 0);
    overflow: scroll;
    padding-bottom: 10%;
    display: flex; 
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    #for-content {
      /* flex: 100%;
      flex-direction: row; */
      align-content: center;
    }

    #card{
        width: 100%;
        margin: 5px;
    }

    #for-content{
        background-color: rgba(102, 51, 153, 0);
    }
  }

#card{
    max-width: 40%;
    max-height: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 0px;
}

#card_title{
    font-weight: bold;
}

#pull_up{
    float: right;
   /* position: fixed; */
   margin-bottom: 0px;
    
}
